<meta http-equiv="Content-Type" content="text/html; charset=utf-8">


<div class="container-fluid" style="position: absolute; top: 100px; left: auto;">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<h2 class="text-center mb-5">Cadastro de Questão</h2>
			<div class="card">

				<div class="card-body">
					<form [formGroup]="questionarioForm" (ngSubmit)="adicionarQuestao()">
						<div class="form-group">
							<label for="idBancoDeQuestoes">ID do Questionário (Verifique na página Home)</label>
							<input type="number" class="form-control" id="idBancoDeQuestoes"
								formControlName="idBancoDeQuestoes" />
						</div>
						<div class="form-group">
							<label for="titulo">Título da questão</label>
							<input type="text" class="form-control" id="titulo" formControlName="titulo" />
						</div>
						<div class="form-group">
							<label for="texto">Texto da questão</label>
							<textarea class="form-control" id="texto" formControlName="texto"></textarea>
						</div>
						<h4>Opções de resposta</h4>
						<div formArrayName="opcoes">
							<div *ngFor="let opcao of questionarioForm.controls.opcoes['controls']; let i = index"
								[formGroupName]="i" class="form-row align-items-center">
								<div class="form-group col-md-10">
									<input type="text" class="form-control" formControlName="opcao" />
								</div>
								<div class="form-group col-md-2">
									<button type="button" class="btn btn-danger" (click)="removerOpcao(i)">-</button>
								</div>
							</div>
							<button type="button" class="btn btn-success mb-3" (click)="adicionarOpcao()">Adicionar
								opção</button>
						</div>
						<h4>Respostas corretas</h4><span>Indicar o índice da opção, na ordem de 0 a N.</span>
						<div formArrayName="respostas">
							<div *ngFor="let resposta of questionarioForm.controls.respostas['controls']; let i = index"
								[formGroupName]="i" class="form-row align-items-center">
								<div class="form-group col-md-10">
									<input type="number" class="form-control" formControlName="resposta" />
								</div>
								<div class="form-group col-md-2">
									<button type="button" class="btn btn-danger" (click)="removerResposta(i)">-</button>
								</div>
							</div>
							<button type="button" class="btn btn-success mb-3" (click)="adicionarResposta()">Adicionar
								resposta</button>
						</div>
						<button type="submit" class="btn btn-primary btn-lg btn-block mt-5">Cadastrar questão</button>
						<br /><br /><br />
					</form>
				</div>
			</div>
		</div>
	</div>
</div>